span.badge.badge-pill.badge-primary {
    white-space: normal;
    text-align: right;
    border: none;
    border-radius: 10px;
}

span.badge.badge-pill.badge-secondary {
    white-space: normal;
    text-align: left;
    border: none;
    border-radius: 10px;
}